.row {
  margin-right: 0px;
  margin-left: 0px;
}
.length30{
	width: 200px;
	margin-right: 10px;
	padding: 8px;
	border-radius: 0;
}
#plan-div{
	margin-top: 50px;
	margin-left: 20px;
}
.form-div{
	background-color: black;
	opacity: .8;
	color: white;
	font-size: 18px;
	margin: auto;
	padding: 30px;
}
select{
	color: black;
	padding:8px;
	border-radius: 0px;
	margin: 0 35px 0 0;
}
input[type="submit"], .green-button{
	width: 120px;
	padding: 8px;
	background-color: green;
	border: 0;
	color: white;
}
.heading{
	font-size: 35px;
}
.hotel-content{
	margin: 40px;
}
.hotel-content > .row{
	background-color: white;
	opacity: .8;
	padding: 20px;
}
.hotel-content h3{
	margin-top: 0;
}
.hotel-content p{
	font-size: 18px;
}
.hotel-content span{
	font-size: 25px;
	margin: 0 5px 0 5px;
}
.green{
	color: green;
}